<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.yanftch.review">

    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 读写日历的权限 -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:name=".MyApp"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".android.pages.ImageLoadActivity"></activity>
        <activity android:name=".android.pages.NsvAndRvActivity" />
        <activity android:name=".android.pages.CalendarViewActivity" />
        <activity
                android:name=".android.pages.NestedScrollViewWithScaleHeaderImageActivity"
                android:theme="@style/AppThemeNoBar" />
        <activity android:name=".android.pages.ViewPager2DemoActivity" />
        <activity
                android:name=".android.pages.smartrefreshlayout.SmartActivity2"
                android:theme="@style/AppThemeNoBar" />
        <activity android:name=".android.pages.smartrefreshlayout.SmartActivity1" />
        <activity
                android:name=".android.pages.douyin.Page2DouYinActivity"
                android:theme="@style/AppThemeNoAnimation" />
        <activity android:name=".android.pages.DouYinActivity" />
        <activity
                android:name=".android.pages.PhotoViewActivity"
                android:theme="@style/AppThemeNoAnimation" />
        <activity
                android:name=".android.pages.StaggeredGridActivity"
                android:theme="@style/AppThemeNoBar" />
        <activity android:name=".android.pages.ViewPager2Activity" />
        <activity android:name=".android.pages.tablayout_viewpager_fragment.SwitchFragmentActivity" />
        <activity android:name=".android.pages.tablayout_viewpager_fragment.TabLayoutActivity" />
        <activity android:name=".android.mvp.LoginMvpActivity" />
        <activity android:name=".android.pages.ConstraintLayoutActivity" />
        <activity android:name=".android.pages.DiyViewActivity" />
        <activity
                android:name=".demo.ui.login.LoginActivity"
                android:label="@string/app_name" />
        <activity
                android:name=".android.pages.NestedScrollViewActivity"
                android:theme="@style/AppThemeNoBar" />
        <activity android:name=".android.pages.ConvenientbannerActivity" />
        <activity android:name=".android.pages.CalendarActivity" />
        <activity android:name=".android.unit_test.UnitTestDemoActivity" />
        <activity android:name=".android.pages.PopupWindowActivity" />
        <activity android:name=".android.pages.BitmapActivity" />
        <activity android:name=".android.pages.AnimationActivity" />
        <activity android:name=".android.pages.ServiceActivity" />
        <activity android:name=".android.pages.CoordinatorLayoutActivity" />
        <activity android:name=".android.pages.RecyclerViewActivity" />
        <activity android:name=".android.pages.RxJavaActivity" />
        <activity android:name=".android.pages.ViewPagerActivity" />
        <activity android:name=".android.pages.TestJavaActivity" />
        <activity android:name=".android.pages.TestActivity" />
        <activity android:name=".android.pages.FragmentActivity" />
        <activity android:name=".android.pages.WebViewActivity" />
        <activity android:name=".android.pages.EventActivity" />
        <activity android:name=".android.pages.ExpandableListViewActivity" />
        <activity android:name=".android.pages.LifecycleActivity" />
        <activity android:name=".android.pages.JsBridgeActivity" />
        <activity android:name=".android.pages.AccessibilityServiceActivity" />
        <activity
                android:name=".MainActivity"
                android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
                android:name=".android.service.MyAccessibilityService"
                android:enabled="true"
                android:exported="true"
                android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                    android:name="android.accessibilityservice"
                    android:resource="@xml/accessibility_service_configs" />
        </service>
        <service android:name=".android.service.MyService" />
    </application>

</manifest>